    <footer class="site-footer clearfix">
        <section class="copyright"><a href="">{{.Site.Title}}</a> {{.Site.Copyright | safeHTML}}</section>
        {{if ne .Site.Params.hideHUGOSupport true}}
        <section class="poweredby">Proudly Powered by <a class="icon-hugo" href="http://gohugo.io">HUGO</a>, Developed by <a class="icon-theme" href="https://github.com/NgopiBrek">NgopiBrek! </a></section>
        {{end}}
    </footer>
    </div>
    <script type="text/javascript" src="{{"js/jquery.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/jquery.fitvids.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/index.js" | relURL}}"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8d142de70ad6412092aa36fa6a2d0251"}'></script><!-- End Cloudflare Web Analytics -->
    {{ if .Site.Params.customFooterPartial }}
        {{ partial .Site.Params.customFooterPartial . }}
    {{ end }}
</body>
</html>
